*::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}


.nav nav{
    background: $roxo-escuro center no-repeat;
    
    li a{
        color: $amarelo-claro;
        text-transform: uppercase;
        font-weight: bold;
        transition: .3s all ease;
    }
    form{
       
    }
    .brand-logo {
        margin: 0 20px;
    }
   
}

.teste{
    color: #51d836;
}

.one {
    background: url(../img/photo-1.jpg) center no-repeat;
    background-size: cover;
}
.two {
    background: url(../img/photo-2.jpg) center no-repeat;
    background-size: cover;
}
.three {
    background: url(../img/photo-3.jpg) center no-repeat;
    background-size: cover;
}
.carousel{
    .carousel-item{
        h2{
            margin: 20px auto;
            margin-top: 100px;
            text-align: left;
            max-width: 600px;
            font-size: 35px;
           
        }
    }
    a{
        cursor: pointer;
        background-color: $roxo-escuro;
        &:hover{
            background-color: white !important;
            color: $roxo-escuro;
        }
    }
    .btn {
        margin: 10px 20px;
        font-size: 20px;
        height: 100%;
        padding: 15px 20px;
        border-radius: 10px;
        transition: .3s all ease-in-out;
        @include device(small){
            font-size: 14px;
            padding: 10px;
            text-align: center;
            margin-bottom: 0;
            margin-top: 10px;
        }
        
    }
}
.carousel.carousel-slider .carousel-item h2{
    @include device(small){
        margin: 20px;
        font-size: 18px;
        text-align: center;
    }
}

#menu-1{
    padding: 30px;
    background-color: $roxo-bem-clarinho;
    .materialboxed{
        max-width: 100%;
        border-radius: 10px;
    }
    h1{
        font-size: 40px;
        margin: 40px;
        @include device(small){
            font-size: 30px;
            margin: auto 0;
            text-align: center;
        }
    }
    p{
        font-size: 20px;
        @include device(small){
            margin: 30px auto !important;
            font-size: 16px;
            text-align: center;
        }
    }
}