#menu-1, #menu-2{
    padding: 30px;
    background-color: $roxo-bem-clarinho;
    .materialboxed{
        max-width: 100%;
        border-radius: 10px;
    }
    h1{
        font-size: 40px;
        margin: 40px;
        @include device(small){
            font-size: 30px;
            margin: auto 0;
            text-align: center;
        }
    }
    p{
        font-size: 20px;
        font-family: $fonte-2;
        @include device(small){
            margin: 30px auto !important;
            font-size: 16px;
            text-align: center;
        }
    }

}

#menu-2{
    background-color: $amarelo-claro;
    span{
        font-family: 'icomoon';
    }
    h1{
        color: white;
        font-size: 50px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .1em;
        @include device(small){
            font-size: 40px;
        }
    }
    .row{
        margin: auto;
    }
    .caixa{
        border: 4px solid white;
        border-radius: 10px;
        margin: 10px 20px;
        padding: 10px 20px;
        
        
        @include device(small){
            margin-top: 10px;
            width: 100%;
        }
        h3{
            font-size: 30px;
            color: $roxo-escuro;
            display: inline-block;
           
        }
        .material-icons{
            font-size: 30px;
            display: inline-block;
            
            text-align: left;
        }
        a{
            background-color: $roxo-escuro !important;
            margin: 10px;
        }
    }
}